/* Global Styles {{{1 */

body             { color: #000; background: #fff; font: normal 16px Arial,sans-serif; }
a                { color: #00f; text-decoration: none; }
a:focus, a:hover { color: #00f; text-decoration: underline; }

#body-container  { margin: 0 auto; padding: 0; width: 880px; }
div.clear        { clear: both; }


input.error { border: 2px solid #f62626; }
div.error-msg { color:#f62626; font-style: italic; }

input, select { vertical-align: baseline; }

/* Banner {{{1 */

#banner                  { padding: 5px 35px 0 35px; height: 85px; border-bottom: 1px solid #ccc; }

#banner div.logo         { float: left; }
#banner div.logo a       { background: url("/static/img/logo.jpg") no-repeat scroll 0 0 transparent; display: block; width: 284px; height: 77px; }
#banner div.logo a span  { display: none; }

#banner div.options      { float: right; padding-top: 30px; font-size: 12px; line-height: 1.5; }
#banner div.options ul   { list-style: none outside none; }
#banner div.options li   { float: left; margin-left: 20px; }
#banner div.options div.search input { border: 1px solid #ccc; padding-left: 16px; background: url("/static/icons/magnifier.png") no-repeat scroll 0 0 transparent; width: 150px; }


/* Footer {{{1 */

#footer    { clear: both; padding: 50px 0; color: #333; font-size: 11px; text-align: center; }
#footer a  { color: #333; margin-right: 20px; }


/* Messages and Errors {{{1 */

#errors, #messages, #success { clear: both; padding:.5em !important; margin:1em 0; border:2px solid #ddd; font-size: 16px; font-weight:bold; text-shadow: 1px 1px 1px #000; }
#messages                    { text-shadow: 1px 1px 1px #ccc !important; }
#errors                      { background:#f62626; color:#fff; border-color:#bd0e0e; }
#messages                    { background:#fffcc4; border-color:#f5d34e; }
#success                     { background:#3aa33a; color:#fff; border-color:#507d50; }
#errors li, #messages li, #success li { list-style-type:none; }


/* BUTTONS by ParticleTree {{{1
   http://particletree.com/features/rediscovering-the-button-element/ */

.buttons a, .buttons button { display:block; float:left; margin:0 7px 0 0; background-color:#f5f5f5; border:1px solid #dedede; border-top:1px solid #eee; border-left:1px solid #eee; font-family:"Lucida Grande", Tahoma, Arial, Verdana, sans-serif; font-size:12px; line-height:130%; text-decoration:none; font-weight:normal; color:#565656; cursor:pointer; padding:5px 10px 6px 7px; /* Links */ }
.buttons button { width:auto; overflow:visible; padding:4px 10px 3px 7px; /* IE6 */ }
.buttons button[type] { padding:5px 10px 5px 7px; /* Firefox */ line-height:17px; /* Safari */ }
*:first-child+html button[type] { padding:4px 10px 3px 7px; /* IE7 */ }
.buttons button img, .buttons a img { margin:0 3px -3px 0 !important; padding:0; border:none; width:16px; height:16px; }

.buttons button:hover, .buttons a:hover { background-color:#dff4ff; border:1px solid #c2e1ef; color:#336699; }
.buttons a:active { background-color:#6299c5; border:1px solid #6299c5; color:#fff; }

.buttons button.positive, .buttons a.positive { color:#529214; }
.buttons a.positive:hover, button.positive:hover { background-color:#E6EFC2; border:1px solid #C6D880; color:#529214; }
.buttons a.positive:active { background-color:#529214; border:1px solid #529214; color:#fff; }

.buttons a.negative, button.negative { color:#d12f19; }
.buttons a.negative:hover, button.negative:hover { background:#fbe3e4; border:1px solid #fbc2c4; color:#d12f19; }
.buttons a.negative:active { background-color:#d12f19; border:1px solid #d12f19; color:#fff; }


/* vim: set foldmethod=marker: */
