/* Dashboard {{{1 */
#dashboard header { float:left; }

#dashboard #big-button          { float:right; }
#dashboard #big-button a span   { display: none; }
#dashboard #big-button a        { background: url("/static/img/ActionButton.png") no-repeat scroll 0 0 transparent; display: inline-block; width: 290px; height: 63px; }
#dashboard #big-button a:focus,
#dashboard #big-button a:hover  { background: url("/static/img/ActionButtonHigh.png") no-repeat scroll 0 0 transparent; }

#dashboard div.listing                      { clear:both; margin-top:32px; line-height:1.6; }
#dashboard div.listing h2                   { margin-bottom:0; }
#dashboard div.listing table                { margin-top: 10px; width: 100%; }
#dashboard div.listing td                   { padding: 0 0.5em; vertical-align:middle; }
#dashboard div.listing th                   { padding: 0 0.5em; }
#dashboard div.listing tfoot th             { text-align:center; }
#dashboard div.listing tfoot th:first-child { text-align:left !important; }
#dashboard div.listing .highlight           { background-color: #faffc5 !important; }


/* Account settings {{{1 */
#account form div { clear:left; margin:5px 0 0 0; padding:1px 0px; }
#account label    { display:block; float:left; width:120px; padding:4px 5px; margin:1px 0; }
#account input    { padding:4px; margin:2px 4px; width:200px; }
#account button   { margin-left:134px; }

#account-password          { padding-top:2em; }
#account-password form div { clear:left; margin:5px 0 0 0; padding:1px 0px; }
#account-password label    { display:block; float:left; width:120px; padding:4px 5px; margin:1px 0; }
#account-password input    { padding:4px; margin:2px 4px; width:200px; }
#account-password button   { margin-left:134px; }

/* Form Information {{{1 */
#form-info-title div.title         { float:left; width:550px; }
#form-info-title div.title h1 span { color:#666; }
#form-info-title div.title p.dates { margin:5px 0 0 0; }
#form-info-title div.title p.dates span.date      { margin-right:2em; }
#form-info-title div.title p.dates .state-paused  { color:red; padding:2px 0 2px 20px; background:url('/static/icons/control_pause.png') no-repeat top left; }
#form-info-title div.title p.dates .state-running { color:green; padding:2px 0 2px 20px; background:url('/static/icons/control_play_blue.png') no-repeat top left; }

#form-info-title div.links            { float:left; width:264px; text-align:left; }
#form-info-title div.links ul         { list-style:none; float:right; }
#form-info-title div.links li         { padding:2px 0 2px 25px; }
#form-info-title div.links li.edit    { background:url('/static/icons/page_edit.png') no-repeat top left; }
#form-info-title div.links li.preview { background:url('/static/icons/page_go.png') no-repeat top left; }

#form-info-run-button p.link          { text-align:center; font-size:18px; }
#form-info-run-button p.button        { text-align:center; padding:1em; }
#form-info-run-button p.button button { font-size:18px; }
#form-info-run-button p.button a      { font-size:14px; margin-right:3em; color:red; padding:2px 0 2px 20px; background:url('/static/icons/cancel.png') no-repeat top left; }

#form-info-options label      { margin-right:1em; }
#form-info-options small      { font-size: 11px; }
#form-info-options p.help     { font-size: 11px; color:#666; font-style:italic; }
#form-info-options div.button { text-align:center; }

#form-info-stats h2                 { margin-bottom:0; }
#form-info-stats div.stats p        { font-size:14px; color:#666; }
#form-info-stats .question          { clear:both; margin-top:1em; overflow:auto; }
#form-info-stats .question-title    { border-bottom:1px solid #ccc; padding:0.5em 0 0.5em 5px; background-color:#f5f5f5; overflow:auto; }
#form-info-stats .question-title span.title { float:left; width:411px; font-size:14px; }
#form-info-stats .question-title ul { float:left; width:200px; margin:0; padding:0; list-style:none; }
#form-info-stats .question-title li { float:left; margin-right:1em; }
#form-info-stats .question-title a  { font-size:10px; }
#form-info-stats .question-title span.count { float:left; width:198px; font-size:10px; font-style:italic; text-align:right; color:#666; line-height:1.5; }

#form-info-stats .answers                  { clear:both; padding-left:30px; margin:1em 0; overflow:auto; }
#form-info-stats .answer                   { clear:both; }
#form-info-stats .answer span.title        { float:left; width:386px; }
#form-info-stats .answer span.bar          { float:left; width:300px; }
#form-info-stats .answer span.bar span     { display:inline-block; height:10px; background-color:#6299c5; border-left:1px solid #6299c5; }
#form-info-stats .answer span.stat-percent { float:left; width:40px; text-align:right; }
#form-info-stats .answer span.stat-count   { float:left; width:50px; text-align:right; padding-left:8px; font-size:10px; font-style:italic; color:#666; }


/* Tabbed navigation {{{1 */
#tabbed-navigation              { clear:both; }
#tabbed-navigation-tabs         { float:left; margin-left:-32px; width:880px; line-height:normal; background:#fff url("/static/img/tabs-bg.gif") repeat-x bottom; }
#tabbed-navigation-tabs ul      { margin:0; padding:2em 32px 0; list-style:none; }
#tabbed-navigation-tabs li      { float:left; margin:0; padding:0 0 0 9px; background:url("/static/img/tabs-left.gif") no-repeat left top; }
#tabbed-navigation-tabs a,
#tabbed-navigation-tabs strong,
#tabbed-navigation-tabs span    { display:block; padding:5px 15px 4px 6px; text-decoration:none; color:#666; background:url("/static/img/tabs-right.gif") no-repeat right top; }

#tabbed-navigation-tabs a:hover          { color:#333; }
#tabbed-navigation-tabs .current         { background-image:url("/static/img/tabs-left_on.gif"); }
#tabbed-navigation-tabs .current a       { padding-bottom:5px; color:#000; background-image:url("/static/img/tabs-right_on.gif"); }
#tabbed-navigation-tabs li.notab,
#tabbed-navigation-tabs li.notab a,
#tabbed-navigation-tabs li.notab span    { background:none !important; color: #000; }
#tabbed-navigation-tabs li.notab a       { color: #00f; text-decoration: none; }
#tabbed-navigation-tabs li.notab a:focus,
#tabbed-navigation-tabs li.notab a:hover { color: #f00; text-decoration: underline; }

#tabbed-navigation-content { clear:both; padding-top:2em; }


/* vim: set foldmethod=marker: */
