/* Dashboard {{{1 */

#dashboard { padding: 1em 0; }
#dashboard h1 { color: #000; text-shadow: 1px 1px 2px #666; font: normal 24px Tahoma,Arial,sans-serif; }

/*#dashboard header a span   { display: none; }*/
/*#dashboard header a        { background: url("/static/img/ActionButton.png") no-repeat scroll 0 0 transparent; display: inline-block; width: 290px; height: 63px; }*/
/*#dashboard header a:focus,*/
/*#dashboard header a:hover  { background: url("/static/img/ActionButtonHigh.png") no-repeat scroll 0 0 transparent; }*/

#dashboard div.listing { clear: both; margin-top: 32px;
font-size: 12px;  line-height: 1.6; }

#dashboard div.listing h3 { font-size: 12px; font-weight: normal; }

#dashboard div.listing table { margin-top: 10px; width: 100%; }
#dashboard div.listing td { padding: 0 0.5em; vertical-align:middle; }
#dashboard div.listing th { padding: 0 0.5em; }
#dashboard div.listing tfoot th { text-align:center; }
#dashboard div.listing tfoot th:first-child { text-align:left !important; }

#dashboard div.listing .highlight { background-color: #faffc5 !important; }


/* vim: set foldmethod=marker: */
