/* Questions {{{1 */

#questions       { padding: 1em 32px 0 32px; }
#questions label { color: #666; }
#questions h1    { color: #000; text-shadow: 1px 1px 2px #666; font: normal 24px Tahoma,Arial,sans-serif; }

#questions #form-basics { margin-top: 1em; background-color: #e5efff; padding: 0.5em 1em 1em 1em; }
#questions #form-title label { display: block; }
#questions #form-title input { font: normal 18px Arial,sans-serif; width: 100%; }

#questions #form-notes { margin-top: 1em; }
#questions #form-notes label { display: block; }
#questions #form-notes textarea { width: 100%; height: 4em; font: normal 16px Arial,sans-serif; }

#questions-addarea { margin-top: 1em; }


/* Question Selection {{{1 */

#questions-selection { clear: both; padding: 1em 32px 0 32px; }
#questions-selection h3 { margin-bottom: 1em; }
#questions-submit { clear: both; padding: 32px 32px 0 32px; }
#questions-submit button { font-size:20px; }


/* The Added Questions {{{1 */

div.dummy-question { margin-bottom: 30px; }

div.dummy-question div.question input           { font: normal 18px Arial,sans-serif; width: 650px; }
div.dummy-question div.question div.input       { float: left; }
div.dummy-question div.question div.toolbar     { float: left; }
div.dummy-question div.question div.toolbar a   { font-size: 11px; text-decoration: none; margin-right: 5px; }
div.dummy-question div.question div.toolbar img { vertical-align: text-bottom; }

div.dummy-question div.answers     { clear: both; }
div.dummy-question div.answer-line { clear: both; padding: 4px 0; }

div.dummy-question div.answer-line div.selection       { float: left; margin-left: 20px; }
div.dummy-question div.answer-line div.input           { float: left; }
div.dummy-question div.answer-line div.input input     { font: normal 14px Arial,sans-serif; color: #333; width: 650px; }
div.dummy-question div.answer-line div.input textarea  { width: 400px; height: 4em; color: #666; font: italic normal normal 14px Arial,sans-serif; }
div.dummy-question div.answer-line div.toolbar         { float: left; width: 100px; }
div.dummy-question div.answer-line div.toolbar a       { color: #ccc; font-size: 11px; text-decoration: none; margin-right: 5px; }
div.dummy-question div.answer-line div.toolbar a:hover { color: #00f; }
div.dummy-question div.answer-line div.toolbar img     { vertical-align: text-bottom; }

/* */
div.dummy-question div.question.idle input                 { border: 1px solid #fff; }
div.dummy-question div.answer-line.idle div.input input    { border: 1px solid #fff; }
div.dummy-question div.answer-line.idle div.input textarea { border: 1px solid #fff; }

div.dummy-question div.question.idle div.toolbar { filter:alpha(opacity=00); -moz-opacity:0.0; -khtml-opacity: 0.0; opacity: 0.0; }
div.dummy-question div.answer-line.idle div.toolbar { filter:alpha(opacity=00); -moz-opacity:0.0; -khtml-opacity: 0.0; opacity: 0.0; }
/*div.dummy-question div.question.idle div.toolbar { visibility: hidden; }*/
/*div.dummy-question div.answer-line.idle div.toolbar { visibility: hidden; }*/

div.dummy-question div.question.highlight input                 { border: 1px dashed #333; }
div.dummy-question div.answer-line.highlight div.input input    { border: 1px dashed #333; }
div.dummy-question div.answer-line.highlight div.input textarea { border: 1px dashed #333; }


div.dummy-question div.answer-add     { clear: both; margin-left: 20px; }
div.dummy-question div.answer-add a   { font-size: 12px; text-decoration: none; }
div.dummy-question div.answer-add img { vertical-align: text-bottom; }


/* Step 2 {{{1 */

#options       { padding: 1em 32px 0 32px; }
#options label { color: #666; margin-right: 1em; }
#options h1    { color: #000; text-shadow: 1px 1px 2px #666; font: normal 24px Tahoma,Arial,sans-serif; }
/*#options h1 { color: #7baf26; text-shadow: 1px 1px 1px #000; }*/

#options #time,
#options #tries,
#options #score,
#options #comments,
#options #email {
	margin: 1em 0;
}

#options #score input    { margin-bottom: 0.5em; }
#options #comments input { margin-bottom: 0.5em; }

#options-submit { padding: 32px; }
#options-submit a { margin-right: 2em; }


/* Form Information {{{1 */

#form-info-title                   { padding:1em 32px 0 32px; }
#form-info-title div.title         { float:left; width:550px; }
#form-info-title div.title h1      { color:#000; text-shadow:1px 1px 2px #666; font:normal 24px Tahoma,Arial,sans-serif; }
#form-info-title div.title h1 span { color:#666; }
#form-info-title div.title p.dates { margin-top:5px; font-size:12px; }
#form-info-title div.title p.dates span.date      { margin-right:2em; }
#form-info-title div.title p.dates .state-paused  { color:red; padding:2px 0 2px 20px; background:url('/static/icons/control_pause.png') no-repeat top left; }
#form-info-title div.title p.dates .state-running { color:lightgreen; font-weight:bold; padding:2px 0 2px 20px; background:url('/static/icons/control_play_blue.png') no-repeat top left; }

#form-info-title div.links            { float:left; width:264px; text-align:left; }
#form-info-title div.links ul         { font-size:12px; list-style:none; float:right; }
#form-info-title div.links li         { padding:2px 0 2px 25px; }
#form-info-title div.links li.edit    { background:url('/static/icons/page_edit.png') no-repeat top left; }
#form-info-title div.links li.preview { background:url('/static/icons/page_go.png') no-repeat top left; }

#form-info-run-button                 { padding:1em 32px 0 32px; clear:both; }
#form-info-run-button p               { margin-bottom:0.5em; }
#form-info-run-button p.button        { text-align:center; }
#form-info-run-button p.button button { font-size:20px; }
#form-info-run-button p.stop-button   { text-align:center; }
#form-info-run-button a.link          { font-size:18px; }

#form-info-options-and-stats    { clear:both; padding:1em 32px 0 32px; }
#form-info-options-and-stats h2 { margin-bottom: 1em; }

#form-info-options            { float:left; width:480px; padding:0.5em 15px; margin-right:10px; background-color:#e5efff; }
#form-info-options label      { margin-right:1em; }
#form-info-options small      { font-size: 11px; }
#form-info-options p.help     { font-size: 11px; color:#666; font-style:italic; margin-bottom: 1em; }
#form-info-options div.button { text-align:center; }

#form-info-stats            { float:left; width:264px; padding: 0.5em 15px; background-color:#e5efff; }
#form-info-stats div.stats  { margin-bottom: 0.5em; }
#form-info-stats p          { font-size:12px; margin: 1em 0 1em 0; }
#form-info-stats div.button { text-align:center; }
#form-info-stats div.stats.inactive { color:#666; font-style:italic; }


/* Form activation {{{1 */
/* We mostly reuse the styles from "Form Infomation" page. */
/* TODO: too much duplication... */
#form-info-title-activate                   { padding:1em 32px 2em 32px; }
#form-info-title-activate div.title h1      { color:#000; text-shadow:1px 1px 2px #666; font:normal 24px Tahoma,Arial,sans-serif; }
#form-info-title-activate div.title h1 span { color:#666; }
#form-info-title-activate div.title p.dates { margin-top:5px; font-size:12px; }
#form-info-title-activate div.title p.dates span.date      { margin-right:2em; }
#form-info-title-activate div.title p.dates .state-paused  { color:red; padding:2px 0 2px 20px; background:url('/static/icons/control_pause.png') no-repeat top left; }
#form-info-title-activate div.title p.dates .state-running { color:lightgreen; font-weight:bold; padding:2px 0 2px 20px; background:url('/static/icons/control_play_blue.png') no-repeat top left; }

#form-activate-button        { float:left; width:264px; }
#form-activate-button p      { margin-bottom:1em; }
#form-activate-button button { font-size:20px; }

#form-deactivate-button            { float:left; width:480px; padding:0.5em 15px; margin-right:10px; }
#form-deactivate-button p          { margin-bottom:1em; }
#form-deactivate-button div.button { text-align:center; }
#form-deactivate-button div.button a { font-size:14px; margin-right:3em; color:red; padding:2px 0 2px 20px; background:url('/static/icons/cancel.png') no-repeat top left; }
#form-deactivate-button button { font-size:20px; }

/* vim: set foldmethod=marker: */
