/* Global Styles {{{1 */

body             { color: #000; background: #fff; font: normal 16px Arial,sans-serif; }
a                { color: #00f; text-decoration: none; }
a:focus, a:hover { color: #00f; text-decoration: underline; }

#body-container  { margin: 0 auto; padding: 0; width: 880px; }
div.clear        { clear: both; }


/* Banner {{{1 */

#banner                  { padding: 15px 35px 0 35px; height: 100px; }

#banner div.logo         { float: left; }
#banner div.logo a       { background: url("/static/img/logo.jpg") no-repeat scroll 0 0 transparent; display: block; width: 284px; height: 77px; }
#banner div.logo a span  { display: none; }

#banner div.options      { float: right; padding-top: 30px; font-size: 12px; }
#banner div.options ul   { list-style: none outside none; }
#banner div.options li   { float: left; margin-left: 20px; }


/* Middle section {{{1 */

#middle-section            { clear: both; padding: 15px 35px; background-color: #f5f5f5; border-top: 1px solid #ccc; border-bottom: 1px solid #ccc; }

#middle-section div.left   { float: left; width: 460px; }
#middle-section h1         { font: italic normal normal 32px Georgia,sans-serif; text-shadow: 2px 2px 3px #666; }
#middle-section hr         { margin: 25px 0; }
#middle-section ol         { color: #666;  list-style-position: inside; }
#middle-section li         { line-height: 2; }

#middle-section div.right  { float: left; }


/* Big F Button {{{1 */

#big-f-button             { padding: 32px; text-align: center; }
#big-f-button a span      { display: none; }
#big-f-button a           { background: url("/static/img/ActionButton.png") no-repeat scroll 0 0 transparent; display: inline-block; width: 290px; height: 63px; }
#big-f-button a:focus,
#big-f-button a:hover     { background: url("/static/img/ActionButtonHigh.png") no-repeat scroll 0 0 transparent; }


/* More Features {{{1 */

#more-features            { padding: 20px 0; margin: 0 35px; border-top: 1px solid #ccc; border-bottom: 1px solid #ccc; }
#more-features h2         { font-size: 18px; margin-bottom: 1em; }
#more-features a          { font-style: italic; }
#more-features ul         { color: #333; list-style-type: none; }
#more-features li         { margin-bottom: 1em; }
#more-features div.left   { float: left; width: 370px; }
#more-features div.right  { float: right; width: 400px; }


/* Footer {{{1 */

#footer    { padding: 50px 0; color: #333; font-size: 11px; text-align: center; }
#footer a  { color: #333; margin-right: 20px; }

/* vim: set foldmethod=marker: */
