/* Global Styles {{{1 */

body {
	color: #333;
	background: #fff;
	font: normal 12px Arial,Helvetica,sans-serif;
}

a { color: #00f; text-decoration: none; }
a:focus, a:hover { color: #f00; text-decoration: underline; }

h1,h2,h3 { text-shadow: 2px 2px 2px #ccc; margin-bottom:0 !important; }
h1 { font-size: 2.5em !important; }
h2 { font-size: 1.6em !important; }
h3 { font-size: 1.3em !important; }

td,th {
	padding: 0 0.5em;
}

small { font-size: 80% }

.left { float:left; }
.right { float:right; }
.text-center { text-align:center; }

.hidden { display:none; }

/* Body Container {{{1 */

#body-container {
	margin: 0 auto;
	padding: 0;
	width: 800px;
}


/* Form title and notes {{{1 */

#form-title {
	padding: 1em;
	background-color: #aaeeff;
}
#form-title header {
	text-align: center;
	line-height: 1;
	padding: 1em 0 3em 0;
}
#form-title #form-notes {
	font-size: 1.6em;
}

/* Form questions and answers {{{1 */

#questions { padding-top: 1em; }
#questions .question {
	margin: 1em 0;
	border-bottom: 1px solid #ddd;
}
#questions .question .invalid {
	color: #bd0e0e;
	font-weight: bold;
}

#questions .answers {
	padding: 1em 0 1em 2em;
	font-size: 1.3em;
	line-height: 1;
}

.answer textarea {
	width: 500px;
	height: 4em;
	font: normal 1em 'Trebuchet MS',Verdana,Helvetica,sans-serif;

}

.answer:hover { background-color: #faffc5; }


/* Submit button {{{1 */

#submit {
	padding: 2em 0 5em 0;
	text-align: center;
}
#submit button {
	font-size: 2.0em;
}

/* Thank you page {{{1 */
#thankyou { margin-top:1em; }
#comments { margin-top:2em; }
#comments label { display:block; }
#comments textarea { width:400px; height:7em; }
#comments div.button { width:400px; text-align:right; }

/* vim: set foldmethod=marker: */
